<%= render 'admin/header' %>
<%= render 'admin/sidemenu' %>

	<div class="admin-contain">
		<div class="admin-menu-title">営業依頼詳細</div>
		<div class="admin-wrap">
			<div class="clearfix mb30">
				<div class="admin-user-form-box">
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">お名前 :　</div>
						<div class="admin-user-form-txt2">名前</div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">フリガナ :　</div>
						<div class="admin-user-form-txt2">フリガナ</div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">電話番号 :　</div>
						<div class="admin-user-form-txt2">電話番号</div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">メールアドレス :　</div>
						<div class="admin-user-form-txt2">メールアドレス</div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">パスワード :　</div>
						<div class="admin-user-form-txt2">パスワード</div>
					</div>
				</div>
				<div class="admin-user-favotite">
					<div class="admin-hedding">依頼された芸人一覧</div>
					<div class="admin-user-favotite-line">
						<div class="admin-user-favotite-name">ロビンソンズ</div>
					</div>
				</div>
			</div><!-- /.clearfix -->
			<div class="admin-hedding">依頼履歴</div>
			<table class="admin-reserve-table">
				<tr>
					<th>公演名</th>
					<th>日時</th>
					<th>ライブ時間</th>
					<th>ギャラ</th>
					<th>場所</th>
					<th>依頼芸人</th>
					<th>依頼日時</th>
				</tr>
				<tr>
					<td>ライブ名</td>
					<td>6/10 18:00</td>
					<td>30分</td>
					<td>10000円</td>
					<td>下北グリップ</td>
					<td>ペンギンズ、しゃもじ、ロビンソンズ</td>
					<td>6/10</td>
				</tr>
			</table>
		</div>
	</div>

<%= render 'admin/footer' %>

