<%= render 'user/header' %>
<%= render 'user/header-menu' %>

<ul id="group-header-menu">
	<div class="container">
		<li>ピン</li>
		<li>コンビ</li>
		<li>トリオ</li>
		<li>カルテット</li>
		<li>グループ</li>
	</div><!-- /container -->
</ul>
<ul id="style-header-menu">
	<div class="container">
		<li>漫才</li>
		<li>コント</li>
		<li>ものまね</li>
		<li>手品</li>
		<li>落語</li>
		<li>漫談</li>
		<li>歌ネタ</li>
		<li>パントマイム</li>
	</div><!-- /container -->
</ul>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<ul id="japanese-header-menu">
				<li id="japanese-list">50音順</li>
				<li>あ</li>
				<li>か</li>
				<li>さ</li>
				<li>た</li>
				<li>な</li>
				<li>は</li>
				<li>ま</li>
				<li>や</li>
				<li>ら</li>
				<li>わ</li>
			</ul>
		</div><!-- /col-md-10 col-md-offset-1 -->
	</div><!-- /row -->
</div><!-- /container -->
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= link_to(performer_path) do %>
				<div class="performer-photo-box">画像が入ります</div>
				<p class="performer-box-txt">芸人名</p>
			<% end %>
		</div><!-- /col-md-10 col-md-offset-1 -->
	</div><!-- /row -->
</div><!-- /container -->

<%= render 'user/footer' %>