<%= render 'user/header' %>
<%= render 'user/header-menu' %>


<h3 class="mt30 mb30">ペンギンズ</h3>

<div class="container">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-md-5 col-sm-2">
			<div class="p-img">画像</div>
			<div class="favorite-btn">お気に入り登録する</div>
			<%= link_to(supports_path) do %>
				<div class="support-btn">この芸人を応援する</div>
			<% end %>
		</div><!-- /col-md-5 col-sm-2 -->
		<div class="col-md-6 col-sm-3">
			<ul class="p-introduction">
				<li class="p-introduction-name">[写真左] アニキ（吉間 洋平 きちま ようへい）</li>
				<li><span>■</span>生年月日<br>　1977年7月12日</li>
				<li><span>■</span>血液型<br>　B型</li>
				<li><span>■</span>出身地<br>　埼玉県</li>
				<li><span>■</span>サイズ<br>　身長167cm	体重57kg	B85cm	W81cm	H87cm	靴26cm</li>
				<li><span>■</span>趣味<br>　動物園巡り</li>
				<li><span>■</span>特技<br>　血液型を言い当てる</li>
				<li><span>■</span>資格<br>　普通自動車免許</li>
			</ul>
			<ul class="p-introduction">
				<li class="p-introduction-name">[写真右] ノブオ（ナオ なお）</li>
				<li><span>■</span>生年月日<br>　1985年3月6日</li>
				<li><span>■</span>血液型<br>　O型</li>
				<li><span>■</span>出身地<br>　埼玉県</li>
				<li><span>■</span>サイズ<br>　身長171cm	体重63kg	B86cm	W82cm	H90cm	靴26.5cm</li>
				<li><span>■</span>趣味<br>　野球・ゲーム・お酒</li>
				<li><span>■</span>特技<br>　利き酒</li>
				<li><span>■</span>資格<br>　調理師免許</li>
			</ul>
		</div><!-- /col-md-6 col-sm-4 -->
	</div><!-- /col-xs-10 col-xs-offset-1 -->
</div><!-- /container -->
<div class="container">
	<div class="p-video-box clearfix">
		<div class="p-video">動画</div>
		<div class="p-video">動画</div>
		<div class="p-video">動画</div>
	</div><!-- .p-video-box -->
	<ul class="p-menu">
		<li class="col-md-4">最新情報</li>
		<li class="col-md-4">経歴</li>
		<li class="col-md-4">感想</li>
	</ul>
	<h4><span>■ </span>最新情報</h4>
	<ul class="p-info-menu">
		<li><span>● </span>内さまライブの参加が決定しました。</li>
	</ul>
	<h4><span>■ </span>経歴</h4>
	<ul class="p-info-menu">
		<li><span>● </span>内さまライブの参加が決定しました。</li>
	</ul>
	<h4><span>■ </span>感想</h4>
	<ul class="p-info-menu">
		<li><span>● </span>ライブ面白かったです。</li>
	</ul>
</div><!-- /container -->

<%= render 'user/footer' %>