<div class="pull-left">
	<div id="admin-sidemenu">
		<ul>
			<%= link_to(admin_users_path) do %>
				<li><span>▶ </span>ユーザー登録一覧</li>
			<% end %>
			<%= link_to(admin_reserves_path) do %>
				<li><span>▶ </span>予約一覧</li>
			<% end %>
			<%= link_to(admin_lives_path) do %>
				<li><span>▶ </span>公演登録</li>
			<% end %>
		</ul>
	</div>
</div><!-- /.pull-left -->