<%= render 'user/header' %>
<%= render 'user/header-menu' %>

<div class="container">
	<h2>応援ページ</h2>
	<p class="cheer-txt">動画を見るとボタンをクリックすると、１円をペンギンズに募金ができます。</p>
	<div class="col-md-3 col-sm-2">
		<div class="s-img">画像</div>
	</div><!-- /col-md-3 col-sm-2 -->
	<div class="col-md-9 col-sm-4">
		<div class="support-intro">
			<p class="s-price-txt"><span>¥集まった支援総額</span><br>5,000円</p>
			<p class="s-price-txt2">(目標金額 :<span>50,000円</span>)</p>
			<p class="s-click-txt pull-right">クリックして応援してくれた<br>ユーザーの数<br><span>30名</span></p>
		</div>
		<div class="support-list">
			<p><span>● </span>資金の使い道<br>　 備品の修理</p>
			<p><span>● </span>募集期限<br>　 2018年8月20日まで</p>
			<p><span>● </span>コメント<br>　 備品の修理をしたいのでよろしくお願いします。</p>
			<p><span>● </span>詳細<br>　 テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、</p>
		</div>
	</div><!-- /col-md-8 col-sm-4 -->
</div><!-- /container -->
<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to(support_path(current_user)) do %>
				<div class="support-btn">動画を見て応援する</div>
			<% end %>
		</div>
	</div><!-- /row -->
</div><!-- /container -->

<%= render 'user/footer' %>