<%= render 'user/header' %>
<%= render 'user/header-menu' %>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="advertisement-video">
				<div class="advertisement-video-box">広告動画</div>
			</div>
		</div><!-- /col-md-10 col-md-offset-1 -->
	</div><!-- /row -->
</div><!-- /container -->
<div class="container">
	<div class="row">
		<div class="col-md-2 col-md-offset-4">
			<div class="advertisement-btn">この芸人を応援する</div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->

<%= render 'user/footer' %>