// Place all the styles related to the admin/performers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*---------------------------------------------------------------------
	芸人登録画面
-----------------------------------------------------------------------*/
/*-- 芸人登録画像 --*/
.admin-performer-img{
	width: 250px;
	height: 300px;
	float: left;
	border:1px solid #ccc;
}

/*-- 芸人登録フォーム --*/
.admin-performer-form-box{
	border:1px solid #ea71a7;
	padding: 20px;
	width: 500px;
	margin: 0 0 0 40px;
	float:left;
}
.admin-performer-form-txt{
	display: inline-block;
	font-size: 16px;
	width: 100px;
}
.form-group3{
	display: inline-block;
}
.form-group3 input{
	width: 300px;
}