<%= render 'user/header' %>
<%= render 'user/header-menu' %>

<ul class="place-header-menu">
	<div class="container">
		<li>下北沢</li>
		<li>新宿</li>
		<li>原宿</li>
		<li>渋谷</li>
		<li class="pull-right">近くの劇場を探す <i class="fas fa-search"></i></li>
	</div><!-- /container -->
</ul>
<ul class="place-menu">
	<div class="container">
		<li>下北グリップ</li>
		<li>しもきたDAWN</li>
		<li>下北スラッシュ</li>
	</div><!-- /container -->
</ul>
<div class="container">
	<h3 class="mb30">しもきたDAWN</h3>
	<div class="col-md-3 col-sm-2">
		<div class="t-img">画像</div>
		<div class="t-access-btn"><i class="fas fa-map-marker-alt"></i> アクセスする</div>
	</div><!-- /col-md-4 col-sm-2 -->
	<div class="col-md-9 col-sm-4">
		<h5>劇場詳細</h5>
		<p class="t-txt">テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト</p>
	</div><!-- /col-md-6 col-sm-4 -->
</div><!-- /container -->
<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<table class="t-schedule-table">
			<tr class="t-schedule-tabletr">
				<th class="live-schedule-title">お笑いダイナマイトショー</th>
				<th class="live-schedule-time">開場 15:00<br>開演 16:00</th>
				<th class="live-schedule-performer">キャイ～ン、ずん、流れ星</th>
				<th class="live-schedule-price">無料</th>
			</tr>
		</table>
	</div>
</div><!-- /container -->

<%= render 'user/footer' %>