<%= render 'admin/header' %>
<%= render 'admin/sidemenu' %>

<div class="container">
	<div class="admin-top-info">
		<%= image_tag("logo3.gif") %>
		<p class="admin-top-txt">管理者ページへようこそ</p>
	</div>
</div><!-- /container -->

<%= render 'admin/footer' %>

