<% user = User.new %>

<%= form_with(model: user, local: true) do |form| %>
<!--バリデーションエラーの表示コード割愛-->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

  <script>
  $( function() {
    var names = ['RON','RUN'];
    $( "#user_name" ).autocomplete({
      autoFocus: true,
      source: names,
      minLength: 0,
    });
  });
  </script>