<div class="bg-all">
	<div class="container">
		<ul class="header-menu">
			<li class="col-md-4">劇場</li>
			<%= link_to(performers_path) do %>
				<li class="col-md-4">芸人</li>
			<% end %>
			<li class="col-md-4">公演</li>
		</ul>
	</div><!-- /container -->
</div>