<%= render 'user/header-out' %>

<div class="container">
	<div class="row">
		<p class="ticket-title-txt">ご予約ありがとうございます</p>
		<div class="col-md-4 col-md-offset-3">
			<div class="ticket-design-box">
				<div class="clearfix">
					<div class="ticket-design-l">
						<div class="ticket-design-title">WARACHIKE</div>
						<div class="ticket-design-txt"><%= current_user.name %>様</div>
					</div>
					<div class="ticket-design-r">
					</div>
				</div><!-- /.clearfix -->
			</div>
		</div>
	</div>
</div><!-- /container -->

<%= render 'user/footer' %>