// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*---------------------------------------------------------------------
	共通CSS
-----------------------------------------------------------------------*/
/* デフォルト設定 */
*{
	color: #333333;
	font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}
body{
	background-color:  #f7f2f7;
}
ul{
	list-style: none;
	padding-left: 0 !important;
	margin: 0 !important;
}
.bg-all{
	background-color:  #1a428d;
	border-bottom: 2px solid #ea71a7;
}
a{
	text-decoration: none !important;
	color: #333333;
}
a:hover{text-decoration:none !important;}
/* フロート */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.fl{float: left;}
.fr{float: right;}
/* 背景色 */
.bg-white{
	background-color:  #fff;
}

/* 帯 グリーンf0ffff*/
h2{
	font-size: 16px;
	color: #fff;
	font-weight: normal !important;
	background-color: #1a428d;
	padding:7px 0 7px 10px;
	margin-bottom: 40px !important;
}
h3{
	font-size: 18px;
	color: #1a428d;
	font-weight: normal !important;
	border-top:1px solid #ea71a7;
	border-right: 1px solid #ea71a7;
	border-bottom: 1px solid #ea71a7;
	border-left: 10px solid #ea71a7;
	padding:10px 0 10px 10px;
	margin-top: 0;
}
h4{
	color: #1a428d;
	font-size: 18px;
	font-weight: normal !important;
	border-top:3px solid #ea71a7;
	border-bottom: 2px dashed #ea71a7;
	padding: 10px 0 10px 0;
	margin-top: 40px;
}
h4 span{
	color: #ea71a7;
	font-size: 16px;
}
h5{
	color: #1a428d;
	font-size: 18px;
	font-weight: normal !important;
	border-top:3px solid #ea71a7;
	border-bottom: 2px dashed #ea71a7;
	margin-top: 0 !important;
	padding: 10px 0 10px 20px;
}
h6{
	font-size: 28px;
	border-top:3px solid #ea71a7;
	border-bottom: 2px dashed #ea71a7;
	padding: 15px 0 15px 15px;
	margin: 20px 0 30px 0;
}
h6 span{
	color: #E0001A;
	font-size: 24px;
}

/* マージン */
.mb50{
	margin-bottom: 50px;
}
.mb30{
	margin-bottom: 30px;
}
.mb20{
	margin-bottom: 20px;
}
.mt30{
	margin-top: 30px;
}
.mr30{
	margin-right: 30px;
}
/* 検索の黄色▼ */
.sort-triangle{
	width: 0;
	height: 0;
	border-top: 10px solid #fff100;
	border-right: 4px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 4px solid transparent;
	display: inline-block;
}
/* ボタン 青 */
.btn-blue{
	width: 200px;
	color: #fff;
	padding:10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #7FB6F5;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
    border-color: #4597F5;
    border-style: solid;
}
/* ボタン オレンジ */
.btn-orange{
	width: 200px;
	color: #F5A623;
	padding:10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
    border-color: #F5A623;
    border-style: solid;
}
.btn-orange i{
	color: #F5C87F;
	font-size: 18px;
}
.btn-orange2{
	width: 250px;
	color: #fff;
	padding:10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #F5C87F;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
    border:2px solid #F5A623;
}
/* ボタン ピンク */
.btn-pink{
	width: 200px;
	color: #E07581;
	padding:10px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
    border-color: #E07581;
    border-style: solid;
}
.btn-pink i{
	color: #EBC5C9;
	font-size: 18px;
}
.btn-pink2{
	width: 250px;
	color: #fff;
	padding:10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #EBC5C9;
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
    border:2px solid #E07581;
}
/* 画像BOX */
.img{
	width: 250px;
	height: 300px;
	border:1px solid #CCCCCC;
	text-align: center;
	background-color: #fff;
}

/*---------------------------------------------------------------------
	部分テンプレート
-----------------------------------------------------------------------*/
/*-- header --*/
#header{
}
.form-box{
	border: 2px solid #1a428d;
	width: 400px;
	height: 35px;
	margin: 9px 0 0 160px;
	padding: 5px;
}
.form-box-txt{
	font-size: 14px;
	color: #CCCCCC;
	margin: 0;
}
.sl-box{
	margin-top: 30px;
}
.top-signin{
	font-size: 16px;
	color: #fff;
	border-right: 2px solid #1a428d;
	padding-right: 20px;
	display: inline-block;
	margin-top: 6px;
}
.top-signin span{
	width: 0;
	height: 0;
	border-left: 6px solid #ea71a7;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	color: #ea71a7;
	display: inline-block;
	margin: 0px 6px -2px 0px;
}
.top-login{
	font-size: 16px;
	color: #fff;
	display: inline-block;
	padding-left: 20px;
	margin-top: 6px;
}
.top-login span{
	width: 0;
	height: 0;
	border-left: 6px solid #ea71a7;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	color: #ea71a7;
	display: inline-block;
	margin: 0px 6px -2px 0px;
}
.mypage-menu{
	margin: 33px 18px 0 0;
	color: #1a428d;
	font-size: 18px;
	font-weight: bold;
}
.mypage-menu i{
	color: #ea71a7;
	padding: 0 5px 0 0;
}
/*-- header-out --*/
#header-out{
	background-color:  #1a428d;
	margin-bottom: 80px;
}
#header-logo{}
/*-- footer --*/
footer{
	background-color:  #1a428d;
	border-top: 2px solid #ea71a7;
	padding: 10px 0;
	margin-top: 80px;
}
.footer-logo{
	float: left;
}
.footer-concept{
	float: left;
	color: #fff100;
	font-size: 16px;
	padding: 10px 0;
}
.copyright{
	color: #fff;
	font-size: 14px;
	margin-left: 13px;
}
/*-- header-menu --*/
.header-menu{
	background-color:  #1a428d;
}
.header-menu li{
	color: #fff;
	display: inline-block;
	font-size: 18px;
	text-align: center;
	padding: 10px 0 10px 0;
}
/*---------------------------------------------------------------------
	トップページ
-----------------------------------------------------------------------*/
/* トップ　画像 */
#ripples{
	background: url(/images/topbg2.jpg);
	width: 1440px;
	height: 800px;
}
#top-txt{
	font-size: 100px;
	text-align: center;
}
/* トップ　ログイン・新規登録 */
.top-login-container{
	padding: 20px 0 30px 0;
	background-color: #fff;
}
.toppage-login-box{
	width: 500px;
	margin:0 auto;
}
.toppage-signinbtn{
	width: 200px;
	background-color: #fff100;
	color: #1a428d;
	float: left;
	text-align: center;
	font-size: 16px;
	padding:10px 0;
}
.toppage-loginbtn{
	width: 200px;
	background-color: #ea71a7;
	color: #fff;
	float: right;
	text-align: center;
	font-size: 16px;
	padding:10px 0;
}
/* トップ　マイページ */
.toppage-mypage-menu{
	font-size: 24px;
	color: #1a428d;
	font-weight: bold;
	margin: 0 0 0 12px;
}
.i-pink{
	color: #ea71a7;
}
.i-positon{
	margin: 0 0 0 48px;
}
/* トップ　写真 */
#top-film-container{
	background-color: #000;
	padding: 20px 0;
	margin: 0 0 50px 0;
}
.top-film-dot{
	background-color: #000;
	border-top: dotted 3px #fff;
	border-bottom: dotted 3px #fff;
	padding: 20px 0;
}
.top-film-box{
	margin: 0 40px;
}
.top-film-img{
	display: inline-block;
	padding: 0 15px;
}
/* トップ　コンセプト */
.hedding-line{
	font-size: 24px;
	text-align: center;
	margin: 30px 0 0 0;
}
.hedding-line span{
	font-family: 'Anton', sans-serif;
	color: #E0001A;
	letter-spacing: 2px;
	font-size: 30px;
}
.top-concept-text{
	font-size: 16px;
	margin: 0 50px;
	text-align: center;
}
.top-concept-text span{
	font-size: 20px;
	color: #ea71a7;
	font-weight: bold;
}
.top-concept-container{
	margin: 50px 0;
}
.top-concept-box{
	margin: 30px 0;
}
.top-concept-tbox{
	float: left;
	margin: 0 0 0 40px;
	width: 750px;
}
.top-concept-title{
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 10px 0;
}
.pyonpyon span {
    animation: pyon 0.3s linear;
    position: relative;
    color:#ea71a7;
}

@keyframes pyon {
    0% {top: 0}
    50% {top:-17px}
    100%{top: 0}
}
.top-concept-txt{
	word-break: break-all;	/* 文字を改行させる */
	font-size: 16px;
	margin: 0 0 0 0;

}
.top-concept-img{
	float: left;
	overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
	width: 320px;	/*画像の幅*/
	height: 320px;	/*画像の高さ*/
	display: inline-block;
	position: relative;
}
.top-concept-img:before {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 310px;
	height: 305px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	transform: rotate(2deg); /* 回転させる */
	background: #fff;
	z-index: -1;
}
.top-concept-img img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
	z-index: 1;
}
.top-concept-img img:hover {
	transform: scale(1.05);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

/* 本日の公演スケジュール */
.hedding-line2{
	font-size:24px;
	text-align: center;
	margin: 30px 0;
}
.schedule-table{
	border-top: 2px solid #E0001A;
	width: 1040px;
	margin: 0 0 50px 30px;
}
.schedule-table tr{
	border-bottom: 2px dashed #E0001A;
}
.live-schedule-title{
	font-size: 16px;
	font-weight: bold;
	padding: 20px 20px 20px 40px;
	width: 330px;
	word-break: break-all;	/* 文字を改行させる */
	text-align: left;
}
.live-schedule-time{
	font-weight: normal;
	padding: 0 20px;
	width: 100px;
	word-break: break-all;	/* 文字を改行させる */
	text-align: left;
}
.live-schedule-performer{
	padding: 0 20px;
	font-weight: normal;
	width: 300px;
	word-break: break-all;	/* 文字を改行させる */
	text-align: left;

}
.live-schedule-price{
	padding: 0 20px;
	color: #E0001A;
	width: 150px;
	word-break: break-all;	/* 文字を改行させる */
	text-align: left;
}

/*---------------------------------------------------------------------
	ログインページ
-----------------------------------------------------------------------*/
.red-underline{
	font-size: 20px;
	font-weight: bold;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #E0001A;
	margin-bottom: 20px;
}
.devise-box{
	border: 1px solid #E0001A;
	padding: 20px 40px;
	margin-bottom: 30px;
}
.field input form{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none !important;
}
.red-underline2{
	padding: 0 0 2px 0;
	border-bottom: 1px solid #E0001A;
	margin-bottom: 10px;
}
.device-txt{
	width: 150px;
	display: inline-block;
	font-size: 16px;
}
input[type="email"] {
    width: 350px;
	border: 1px solid #CCCCCC;
    display: inline-block;
	font-size: 16px;
	padding: 3px;
	margin-bottom: 3px;
}
input[type="password"] {
	width: 350px;
	border: 1px solid #CCCCCC;
    display: inline-block;
	font-size: 16px;
	padding: 3px;
	margin-bottom: 3px;
}
input[type="submit"] {
	width: 150px;
	background-color:#ea71a7;
	color: #fff;
	font-size: 20px;
	border: none;
	padding: 15px 0;
}
.actions{
	width: 150px;
	margin: 0 auto;
}

/*---------------------------------------------------------------------
	新規登録ページ
-----------------------------------------------------------------------*/
.device-txt2{
	width: 150px;
	display: inline-block;
	font-size: 14px;
}
.field-box{
	width: 350px;
	border: 1px solid #CCCCCC;
    display: inline-block;
	font-size: 16px;
	padding: 3px;
	margin-bottom: 3px;
}

/*---------------------------------------------------------------------
	マイページ
-----------------------------------------------------------------------*/
/* サイドメニュー */
ul.mypage-sidemenu{
	width: 220px;
	margin-bottom: 30px !important;
}
ul.mypage-sidemenu li{
	background-color: #fff;
	color: #1a428d;
	font-size: 16px;
	border-bottom: 2px dashed #ea71a7;
	padding: 10px 0 10px 10px;
}
ul.mypage-sidemenu li.mypage-sidemenu-list{
	background-color: #ea71a7;
	color: #fff;
	padding: 10px 0 10px 10px;
	font-size: 18px;
}
/* お知らせ等 */
.info-box{
	border-bottom: 2px dashed #ea71a7;
}
.info-box-times{
	font-size: 15px;
	display: inline-block;
	padding-right: 30px;

}
.info-box-txt{
	font-size: 16px;
	display: inline-block;
}
/* 購入履歴テーブル */
.history-schedule-table{
	border-top: 3px solid #ea71a7;
	width: 825px;
}
.history-schedule-table tr{
	border-bottom: 2px dashed #ea71a7;
}
.history-schedule-title{
	font-size: 16px;
	font-weight: bold;
	width: 200px;
	word-break: break-all;	/* 文字を改行させる */
	padding: 20px;
	text-align: left;
}
.history-schedule-time{
	font-weight: normal;
	padding: 0 20px;
	width: 200px;
	text-align: left;
	word-break: break-all;	/* 文字を改行させる */
}
.history-schedule-performer{
	padding: 0 20px;
	font-weight: normal;
	width: 200px;
	word-break: break-all;	/* 文字を改行させる */
	text-align: left;
}
.history-schedule-price{
	padding: 20px 105px 20px 0;
	color: #E0001A;
}























